* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
}

.container {
    color: #333;
    background: #eee;
    margin: 30px 10px;
    text-align: center;
    padding: 40px;
}

.container > h1 {
    font-size: 40px;
}

.container > .desc {
    padding: 20px;
}

.hero {
    background-color: white;
    padding: 10px;
}

.hero > img {
    max-width: 100%;
    height: auto;
}

.timeline {
    display: block;
}

.timeline > h2 {
    font-size: 18px;
    padding: 40px;
}

.timeline > .timeline-detail {
    text-align:left;
    width: 500px;
    margin: 0 auto 40px auto;
}

.timeline > .timeline-detail > li {
    padding: 10px;
}

.sentence {
    text-align: justify;
    margin: 0 auto 30px auto;
    display: block;
    width: 530px;
}

.sentence > p {
    font-style: italic;
    padding: 10px;
}

.container > h3 > a {
    color: #477ca7;
}